<?xml version="1.0" encoding="utf-8"?>
<packages>
  <configuration>
    <packageRestore>
      <add key="enabled" value="True" />
      <add key="automatic" value="True" />
    </packageRestore>
  </configuration>

  <package id="nlohmann.json" version="3.9.1" targetFramework="native" />
  <package id="sdl2.nuget" version="2.0.12" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.0.12" targetFramework="native" />
</packages>
